ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.footer{
    background-image: url('../images/b87f1411102561407b9e4015e3e63831.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
}

.footer .main_button:hover{
    background-color: #d2e823;
}
.footer form .link{
    background-color: lightblue;
}
.footer_inner_content ul{
    color :red;
}
footer.shb-footer {
    padding-top: 80px;
  }
  
  .shb-footer-row {
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
    padding: 60px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .shb-footer-col {
    padding: 0 16px;
  }
  
  .shb-footer-col-large {
    width: 32.5%;
  }
  
  .shb-footer-col-small {
    width: 17.5%;
  }
  
  .shb-footer-brand {
    width: 100%;
    max-width: 230px;
  }
  
  .shb-footer-brand-text {
    width: 100%;
    max-width: 310px;
    margin-top: 24px;
  }
  
  .shb-footer-header {
    margin-bottom: 20px;
  }
  
  .shb-footer-nav-link-list {
    padding: 0;
    list-style-type: none;
  }
  
  .shb-footer-nav-link-item:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .shb-footer-nav-link {
    display: flex;
    align-items: flex-start;
  }
  
  .shb-footer-contact-link-icon,
  .shb-footer-social-link-icon {
    color: black;
    margin-right: 16px;
  }
  
  .shb-footer-contact-link-icon {
    position: relative;
    top: 3px;
  }
  
  .shb-footer-contact-link-icon i,
  .shb-footer-social-link-icon i {
    width: 15px;
    height: 15px;
  }
  
  .shb-footer-social-links-list li a {
    display: flex;
    align-items: center;
  }
  
  .shb-footer-contact-link-text,
  .shb-footer-social-link-text ,.useful_link li{
    display: block;
    width: 100%;
    max-width: 85%;
    font-size: 20px;
    line-height: 50px;
  }
  .footer h4{
    font-size: 44px;
  }
  .shb-footer-copyright {
    font-size: 12px;
    font-weight: 300;
    line-height: 250%;
    text-align: center;
    color: var(--color-gray);
    padding-bottom: 10px;
    margin: 50px 0 0;
    display: block;
    width: 100%;
  }
  .footer-login{
    display:inline-block ;
    background-color:#d2e823;
    padding: 18px 26px 20px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}
.footer-login:hover{
 opacity: 0.9;
}
.footer .bold_tag{
    font-size:60px;
    padding: 0 300px;
}
.footer_outter{
  position: relative;
  padding-top: 100px;
}
.footer_outter .container{
  border-radius: 20px;
}
.useful_link{
  position: absolute;
  right:490px;
}
.Footer_login{
  padding: 70px 0px 50px 40px;
}
.footer_outter .container{
  background-color: rgb(210, 250, 216);
}
.logo-size{
  width: 200px;
  height: 50px;
  padding: 10px 10px 10px 30px;
}