

.logo {
    width: 160px;
    height: 45px;
    align-items: center;
    padding: 10px 10px 10px 30px;
}
.logo2{
    display: block;
    width: 28px;
    height: 28px;
    position: relative;
    right: 60px;
}

ul{
  list-style: none;  
}
.offcanvas-body li{
    padding: 20px 10px;
    border-bottom: 1px solid #8CC0DE ;
}
button {
    background-color: transparent;
    border: none;
}

.header_outter{
    position: fixed;
    top: 0;
    padding-top: 50px;
    width: 100%;
    z-index: 1;
    /* background-color: #DAEAF1; */
    /* height: 100vh; */
}
.header {
    border-radius: 10000px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.mid-head {
    position: relative;
    right: 70px;
}

.mid-head button{
  padding: 0 30px;
}

.login{
    background-color:#d2e823;
    padding: 18px 26px 20px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}
.login:hover{
 opacity: 0.7;
}
.end-header .signup{
    border: 3px solid #d2e823 ;
    padding: 18px 26px 20px;
      transition: all 0.3s ease-in-out;
    border-radius: 10000px;
}