.share{
    padding:180px 0;
    background-color: rgb(255, 244, 242);
}
.share h1{
    font-size: 65px;
}
.share .card_section{
    height: 200px;
    width: 200px;
    border: 1px solid transparent;
    color: white;
    font-size:40px;
    text-align: end;
    padding-right: 20px;
    border-radius: 20px;
    box-shadow: inset 10px 10px 50px #fff;
    
}
.share .youtube-card{
    background-color: rgb(205, 32, 31);
    position: absolute;
     position: absolute;
    top:319px;
    right: 360px;
}
.share .instagram-card{
    background-color: rgb(221, 42, 123);
    position: absolute;
    top:270px;
    right: 310px;
}
.share .pinterest-card{
    background-color: rgb(230, 0 , 35);
    position: absolute;
     position: absolute;
    top:217px;
    right: 260px;
}
.share .twitter-card{
    background-color: rgb(29, 161, 242);
    position: absolute;
    top:160px;
    right: 210px;
}
.share .facebook-card{
    background-color: rgb(59, 89, 152);
    position: absolute;
    top:105px;
    right: 160px;
}
.share .linked-card{
    background-color: rgb(10, 102, 194);
    position: absolute;
    top:50px;
    right: 105px;
}
.share .snapchat-card{
    background-color: rgb(255, 252, 0);
    position: absolute;
    top:0;
    right: 50px;
}
