.iconcard {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.01em;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.youtube{
    border: 1px solid gray;
    border-radius: 10px;
}
.outicon {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    text-align: center;
}
.iconcard p {
    font-size: 17px;
    color: black;
    font-weight: 500;
}
@font-face {
    font-family: Kohobold;
    src: url('../src/Components/fonts/KoHo-Bold.ttf');
}